<h1>Introduction of xxx</h1>

<li><strong>Name</strong>:</li>
<li><strong>Year</strong>:</li>
<li><strong>Director</strong>:</li>
<li><strong>Year</strong>:</li>
<li><strong>Reviews</strong>:</li>
<% review.forEach(function(review) { %>
	<li><%=  review  %></li>
<% } %>

<form>
	<input type="text" name="review">
	<button>submit</button>
</form>


<a href="/">Back to homepage</a>